<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input[name="csrfmiddlewaretoken"] {
            display: none;
        }
    </style>
</head>
<body>
<center>
    <form method="POST" action="/your-action-url/">
        <label>Название</label>
        <input name="title" type="text" placeholder="Введите название">
        <br><br><br>
        <label>Описание</label>
        <input name="description" type="text">
        <br><br><br>
        <label>Категория</label>
        <input name="category" type="number">
        <br><br><br>
        <label>Image</label>
        <input type="file" name="image">
        <br><br><br>
        <label>Video</label>
        <input type="file" name="video">
        <br><br><br>
        <label>Music</label>
        <input type="file" name="music">
        <br><br>
        <button type="submit">Сохранить</button>
</form>
</center>
</body>
</html>
